{% for stanza in stunnel_config.keys() %}
{%   if stanza != "default" %}
[{{ stanza }}]
{%   endif %}
{%   for key in stunnel_config[stanza].keys() %}
{{ key }} = {{ stunnel_config[stanza][key] }}
{%   endfor %}

{% endfor %}
